@import "../variables.scss";

.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        animation: rotate 1s linear infinite;
        color: $foreground;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}