@import "../variables.scss";

.paper-card {
    background-color: $primary;
    color: $card-foreground;
    border-radius: $radius;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    cursor: pointer;


    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 600;
        font-size: 1.5rem;

        img {
            width: 20rem;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
        }


        .delete {
            color: $destructive
        }
    }
}

.primary {
    background-color: $primary;
}

.secondary {
    background-color: $secondary;
}

.muted {
    background-color: $muted;
}

.accent {
    background-color: $accent;
}