@import "../variables.scss";

.card {
    color: $card-foreground;
    border-radius: $radius;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;


    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }

    .left {
        display: flex;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .right {

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }


        .delete {
            color: $destructive
        }
    }

}

.primary {
    background-color: $primary;
}

.secondary {
    background-color: $secondary;
}

.muted {
    background-color: $muted;
}

.accent {
    background-color: $accent;
}