@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Playwrite NG Modern", cursive;
  background-color: $background;
}

.date-time-picker {
  text-align: center;

  .date-time {
    display: flex;
  }
}

.assignment-card {
  margin: 1%;
  background-color: $accent-1;
  width: 300px;
  padding: 3% 2%;
  text-align: center;
  transition: all 0.2s;
  letter-spacing: 1px;
  cursor: default;

  p {
    margin: 5%;
  }

  &:hover {
    background-color: $accent-4;
  }
}

.assignment {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 2%;
  }

  h3 {
    margin-top: 5%;
  }

  p {
    margin-bottom: 5%;
  }
}

.solution-card {
  margin: 1%;
  background-color: $accent-1;
  width: 300px;
  padding: 3% 2%;
  text-align: center;
  transition: all 0.2s;
  letter-spacing: 5px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $primary;
  }

  p {
    color: $accent-4;
  }

  &:hover {
    background-color: $accent-4;
  }
}

.paper-card {
  margin: 1%;
  background-color: $accent-1;
  width: 300px;
  padding: 3% 2%;
  text-align: center;
  transition: all 0.2s;
  letter-spacing: 5px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $primary;
  }

  p {
    color: $accent-4;
  }

  &:hover {
    background-color: $accent-4;
  }
}