@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Playwrite NG Modern", cursive;
  background-color: $background;
}

.date-time-picker {
  text-align: center;

  .date-time {
    display: flex;
  }
}

.assignment-card {
  margin: 1%;
  background-color: $accent-1;
  width: 300px;
  padding: 3% 2%;
  text-align: center;
  transition: all 0.2s;
  letter-spacing: 1px;
  cursor: default;

  p {
    margin: 5%;
  }

  &:hover {
    background-color: $accent-4;
  }
}

.assignment {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 2%;
  }

  h3 {
    margin-top: 5%;
  }

  p {
    margin-bottom: 5%;
  }
}

.solution-card {
  margin: 1%;
  background-color: $accent-1;
  width: 300px;
  padding: 3% 2%;
  text-align: center;
  transition: all 0.2s;
  letter-spacing: 5px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $primary;
  }

  p {
    color: $accent-4;
  }

  &:hover {
    background-color: $accent-4;
  }
}

.paper-card {
  margin: 1%;
  background-color: $accent-1;
  width: 300px;
  padding: 3% 2%;
  text-align: center;
  transition: all 0.2s;
  letter-spacing: 5px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $primary;
  }

  p {
    color: $accent-4;
  }

  &:hover {
    background-color: $accent-4;
  }
}

.searchResult {
  margin: 3%;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 3%;
    letter-spacing: 2px;
  }

  .searchList {
    margin: 3%;
    color: $accent-2;
    letter-spacing: 5px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .searchItem {
      width: 200px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 5%;
      padding: 5%;
      background-color: $accent-4;
      transition: all 0.2s;

      img {
        width: 100%;
      }

      &:hover {
        background-color: $accent-1;
      }
    }
  }
}