$background: #2F3E46;
$foreground: #CAD2C5;
$primary: #354F52;
$primary-foreground: #84A98C;
$secondary: #52796F;
$secondary-foreground: #B8BFB3;
$accent: #84A98C;
$accent-foreground: #dff3f3;
$destructive: #da5252;
$destructive-foreground: #ffffff;
$muted: #6f8b75;
$muted-foreground: #ccffff;
$card: #52796F;
$card-foreground: #e0e7dc;
$popover: #45635d;
$popover-foreground: #ccffff;
$border: #292d2e;
$input: #dce9f0;
$ring: #ccffff;
$link: #84b7d2;
$radius: 2rem;